{% extends "app/app_layout.html" %} {% block content %}
<div class="col-md-9">
	<div class="row animated rotateInDownLeft" id='dash_view'>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-header panel-heading">
						<div class="panel-title">meeting requests</div>
					</div>
					<div class="content-box-large box-with-header">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>emloyee-id</th>
									<th>names</th>
									<th>date/time</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td>1220</td>
									<td>mabu manaileng</td>
									<td>October 1, 12:00PM</td>
								</tr>
								<tr class="success">
									<td>1220</td>
									<td>mabu manaileng</td>
									<td>October 1, 12:00PM</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-header panel-heading">
						<div class="panel-title">projects</div>
					</div>
					<div class="content-box-large box-with-header">
						<table class="table table-hover" id='proj_tbl'>
							<thead>
								<tr>
									<th>id</th>
									<th>name</th>
									<th>lead</th>
									<th>end-date</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td id='proj_id'>1</td>
									<td id='proj_name'>collabo.ai</td>
									<td id='proj_lead'>Mabu Manaileng</td>
									<td>01-October-2017</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-header panel-heading">
						<div class="panel-title">colleagues meeting</div>
					</div>
					<div class="content-box-large box-with-header">

						<table class="table table-hover">
							<thead>
								<tr>
									<th>meeting-id</th>
									<th>organizer</th>
									<th>attendee(s)</th>
									<th>place</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td id='meeting_id'>1</td>
									<td id='organizer'>Asive Dlaba</td>
									<td id='attendee'>Lero Lyn</td>
									<td id='location'>johannesburg</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-header panel-heading">
						<div class="panel-title">meet colleagues</div>
					</div>
					<div class="content-box-large box-with-header">

						<table class="table table-hover">
							<thead>
								<tr>
									<th>employee id</th>
									<th>names</th>
									<th>job title</th>
									<th>score</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td id='_emp_id'>1</td>
									<td id='_emp_name'>mabu manaileng</td>
									<td id='_emp_title'>programmer</td>
									<td id='_ss'>90%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row animated rotateInDownLeft" id='requests_view'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-header panel-heading">
						<div class="panel-title">meeting requests</div>
					</div>
					<div class="content-box-large box-with-header">

						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="request_view_tab">
							<thead>
								<tr>
									<th>emloyee-id</th>
									<th>names</th>
									<th>topic</th>
									<th>date/time</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td id='_req_id'>1220</td>
									<td id='_requestor'>mabu manaileng</td>
									<td id='_topic'>AML</td>
									<td id='_req_date'>October 1, 12:00PM</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row animated rotateInDownLeft" id='collmeet_view'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-header panel-heading">
						<div class="panel-title">colleagues meeting</div>
					</div>
					<div class="content-box-large box-with-header">

						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="collmeet_view_tab">
							<thead>
								<tr>
									<th>meeting-id</th>
									<th>organizer</th>
									<th>attendee(s)</th>
									<th>place</th>
								</tr>
							</thead>
							<tbody>
								<tr class="success">
									<td id='coll_meeting_id'>1</td>
									<td id='coll_organizer'>Asive Dlaba</td>
									<td id='coll_attendee'>Lero Lyn</td>
									<td id='coll_location'>johannesburg</td>
								</tr>

							</tbody>
						</table>
						<br/><br/>
						<h4>Suggested Topics </h4>
						{% for item in headlines %}
						<div class="alert alert-success">
							<strong>Success!</strong> {{item|safe}}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row animated rotateInDownLeft" id='meetcoll_view'>
		<div class="col-md-12">

			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 panel-primary">
							<div class="content-box-header panel-heading">
								<div class="panel-title">recommended</div>
							</div>
							<div class="content-box-large box-with-header">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>employee id</th>
											<th>names</th>
											<th>job title</th>
											<th>score</th>
										</tr>
									</thead>
									<tbody>
										<tr class="success">
											<td id='_emp_id'>1</td>
											<td id='_emp_name'>mabu manaileng</td>
											<td id='_emp_title'>programmer</td>
											<td id='_ss'>90%</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 panel-primary">
							<div class="content-box-header panel-heading">
								<div class="panel-title">find desired</div>
							</div>
							<div class="content-box-large box-with-header">
								<div class="text-center">
									<h4>skills</h4>
									<p>
										<select class="selectpicker" multiple>
												<option>Mustard</option>
												<option>Ketchup</option>
												<option>Relish</option>
											</select>
									</p>
									<h4>preference</h4>
									<p>
										<select class="selectpicker" multiple>
												<option>Mustard</option>
												<option>Ketchup</option>
												<option>Relish</option>
											</select>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row animated rotateInDownLeft" id='projects_view'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-header panel-heading">
						<div class="panel-title">projects</div>
					</div>
					<div class="content-box-large box-with-header">

						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="projects_view_tab">
							<thead>
								<tr>
									<th>id</th>
									<th>name</th>
									<th>lead</th>
									<th>end-date</th>
								</tr>
							</thead>
							<tbody>
								<tr class="odd gradeX success">
									<tr class="success">
										<td id='proj_id'>1</td>
										<td id='proj_name'>collabo.ai</td>
										<td id='proj_lead'>Mabu Manaileng</td>
										<td>01-October-2017</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--this is meeting request details -->
	<div class="row animated zoomIn" id='request_details'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-large box-with-header">
						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered " id="request_view_tab">
							<thead>
								<tr class='warning'>
									<th class='text-center' id='req_id'>this is meeting id #</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='req_organizer'>organized for/by mabu manaileng</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='req_attendees'>together with doc</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='req_location'>At Braam</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='req_topic'>Regarding AI</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='req_start'>they started at </th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='req_end'>and ended </th>
								</tr>

							</thead>
						</table>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<a type="button" id="btn_join_request" class="btn btn-lg btn-block btn-primary">confirm</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--this is colleague meeting details -->
	<div class="row animated zoomIn" id='collmeet_details'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-large box-with-header">
						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="collmeet_details_tab">
							<thead>
								<tr class='warning'>
									<th class='text-center' id='collmeet_id'>this is meeting id #</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='collmeet_organizer'>organized for/by mabu manaileng</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='collmeet_attendees'>together with doc</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='collmeet_location'>At Braam</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='collmeet_topic'>Regarding AI</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='collmeet_start'>they started at </th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='collmeet_end'>and ended </th>
								</tr>

							</thead>
						</table>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<a type="button" id="btn_join_collmeet" class="btn btn-lg btn-block btn-primary">join meeting</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- project details -->
	<div class="row animated zoomIn" id='project_details'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12 panel-primary">
					<div class="content-box-large box-with-header">
						<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
							<thead>
								<tr class='warning'>
									<th class='text-center' id='proj_detaills_name'>name</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='proj_desc'>description</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='proj_details_lead'>head</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='proj_skills'>required skills</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='proj_team'>team</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='proj_start'>start date</th>
								</tr>
								<tr class='warning'>
									<th class='text-center' id='proj_end'>end date</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4">
						<a type="button" id="btn_join_proj" class="btn btn-lg btn-block btn-primary">join project </a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row animated rotateInDownLeft" id='insights_view'>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 panel-primary">
							<div class="content-box-header panel-heading">
								<div class="panel-title">most common skills</div>
							</div>
							<div class="content-box-large box-with-header">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 panel-primary">
							<div class="content-box-header panel-heading">
								<div class="panel-title">least common skills</div>
							</div>
							<div class="content-box-large box-with-header">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 panel-primary">
							<div class="content-box-header panel-heading">
								<div class="panel-title">top matched profiles</div>
							</div>
							<div class="content-box-large box-with-header">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}