<div class="col-md-3">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <!-- Main menu -->
            <li class='animated popover'><a id='dashboard' href="#"><i class="glyphicon glyphicon-home"></i> dashboard</a></li>
            <li class="animated popover"><a id='requests' href="#"><i class="glyphicon glyphicon-stats"></i> meeting requests</a></li>
            <li class="animated popover"><a id='colleaguemeet' href="#"><i class="glyphicon glyphicon-list"></i> colleagues meeting</a></li>
            <li class="animated popover"><a id='meetcolleague' href="#"><i class="glyphicon glyphicon-list"></i> meet colleagues</a></li>
            <li class="animated popover"><a id='project' href="#"><i class="glyphicon glyphicon-pencil"></i> projects</a></li>
            <li class="animated popover"><a id='calendar' href="#"><i class="glyphicon glyphicon-calendar"></i> calendar</a></li>
            <li class="animated popover"><a id='insights' href="#"><i class="glyphicon glyphicon-stats"></i> insights</a></li>
        </ul>
    </div>
</div>